<!-- SIDEBAR -->

<div class="col-md-2 sidebar d-none d-md-block pt-3">
    <a href="{% url 'dashboard:index' %}"
        class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
    </a>
    <a href="{% url 'alumnos:lista' %}"
        class="{% if request.resolver_match.app_name == 'alumnos' and 'asistencia' not in request.resolver_match.url_name and 'pago' not in request.resolver_match.url_name and request.resolver_match.url_name != 'deudores' %}active{% endif %}">
        <i class="bi bi-people-fill me-2"></i> Alumnos
    </a>
    <a href="{% url 'asistencias:hoy' %}"
        class="{% if 'asistencia' in request.resolver_match.url_name %}active{% endif %}">
        <i class="bi bi-calendar-check me-2"></i> Asistencias
    </a>
    <a href="{% url 'horarios:semanal' %}"
        class="{% if request.resolver_match.app_name == 'horarios' %}active{% endif %}">
        <i class="bi bi-calendar-week me-2"></i> Horarios
    </a>
    <a href="{% url 'pagos:deudores' %}"
        class="{% if 'pago' in request.resolver_match.url_name or request.resolver_match.url_name == 'deudores' %}active{% endif %}">
        <i class="bi bi-cash-stack me-2"></i> Pagos
    </a>
    <a href="{% url 'configuracion:panel' %}"
        class="{% if request.resolver_match.app_name == 'configuracion' %}active{% endif %}">
        <i class="bi bi-gear me-2"></i> Configuración
    </a>
</div>